/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --coal: #0f0d0e;
  --charcoal: #231f20;
  --charcoal-10: rgba(35, 31, 32, 0.1);
  --charcoal-50: rgba(35, 31, 32, 0.5);
  --gray: #262522;
  --yellow: #fcba28;
  --pink: #f38ba3;
  --green: #0ba95b;
  --purple: #7b5ea7;
  --beige-body: #fffbe3;
  --beige: #f9f4da;
  --beige-10: rgba(249, 244, 218, 0.1);
  --beige-50: rgba(249, 244, 218, 0.5);
  --blue: #12b5e5;
  --orange: #fc7428;
  --red: #ed203d;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Outfit', sans-serif;
  background: var(--beige-body);
  color: var(--charcoal);
}

ul {
  padding: 0;
}

ul li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  background: var(--coal);
  color: var(--beige);
}

.dark {
  --bg: var(--coal);
  --bg-alt: var(--charcoal);
  --color: var(--beige);
  --color-muted: var(--beige-50);
  --color-inverse: var(--charcoal);
  --border-color: var(--beige-10);
  --accent: var(--yellow);
}

.light {
  --bg: var(--beige);
  --bg-alt: var(--beige);
  --color: var(--charcoal);
  --color-muted: var(--charcoal-50);
  --color-inverse: var(--beige);
  --border-color: var(--charcoal-10);
  --accent: var(--purple);
}

.dark,
.light {
  min-height: 100%;
}

/* Elements */

h1 {
  font-family: 'Paytone One', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

/* Components */

select {
  background: var(--bg-alt);
  color: var(--accent);
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border: 10px solid var(--bg-alt);
}

select:focus {
  outline: 1px solid var(--border-color);
}

/* Form */


/* Components */

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

tr {
  padding: 4px;
}

th {
  height: 40px;
  position: sticky;
  top: 0;

  color: var(--color);
  z-index: 1;
  border-bottom: 1px solid var(--border-color);
}

td {
  height: 48px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

th:first-child,
th:nth-child(2),
td:first-child,
td:nth-child(2) {
  text-align: left;
}

th:last-child,
td:last-child {
  text-align: right;
}

td a {
  color: inherit;
}

tbody td {
  font-size: 14px;
  padding: 4px;
}

tbody td:first-child {
  opacity: 0.5;
}

/* Layout */

.container {
  padding: 5ch;
  margin: 0 auto;
  max-width: 90ch;
  padding-left: 16px;
  padding-right: 16px;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.stack {
  --space: 8px;
  display: grid;
  gap: var(--space);
}

.row {
  --space: 32px;
  display: flex;
  align-items: center;
  gap: var(--space);
}

.gap-md {
  --space: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 32px;
}

.avatar {
  --size: 32px;
  --radius: 4px;
  aspect-ratio: 1/1;
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius);
}

.avatar.large {
  --size: 48px;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.animate-in {
  animation: fade-in 0.5s ease-in-out;
}

/* Project Specific Styles */

.main-stack {
  --space: 40px;
}
